<template>
    <div>
        <div v-if="loading" class="loading">Loading...</div>
        <div v-if="error" class="error">{{ error }}</div>

        <div class="md-12">
            <div class="md-6">
                <h4>If you can't see data, please check db after refactor!</h4>
            </div>
            <hr>
            <div class="md-6">
                <h2>Project Checklist</h2>
                <div v-for="(item, index) in projectChecklist" v-bind:key="item.id" class="alert alert-success" role="alert">
                    {{ index + 1 }}. {{item.Name}} <span v-if="item.isDone == 1" class="badge badge-success">DONE</span>
                </div>
                <span v-if="!!projectChecklist && (projectChecklist.length == 0)">No data</span>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import qs from "qs";
export default {
    data() {
        return {
            loading: false,
            projectChecklist: null,
            error: null,
            sampleId: 2
        };
    },
    created() {
        // fetch the data when the view is created and the data is
        // already being observed
        this.fetchData(this.sampleId);
    },
    watch: {
        // call again the method if the route changes
        $route: "fetchData"
    },
    methods: {
        fetchData(id) {
            this.error = this.projectChecklist = null;
            this.loading = true;

            const url =
                "http://localhost:4000/api/ProjectProgressChecklistsByProject";
            axios(url, {
                method: "POST", // or 'GET'
                headers: {
                    "Content-Type": "application/json"
                },
                data: { id: id }
            })
                .then(resp => {
                    this.loading = false;
                    this.projectChecklist = resp.data;
                })
                .catch(err => {
                    this.loading = false;
                    this.error = err.toString();
                });
        }
    }
};
</script>